<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 
    <title>Sobre nosotras</title>

<body class="aboutus">

    <!--     Comienza el header---------------------------- -->
    <%- include('../partials/header.ejs') %> 
    <!-- Fin header ------------------------------------------------------ -->

    <!-- main---------------------------------------------------------------- -->
    <main class="aboutus-main">

            <div class="video-container">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/jDSnsl1mMbw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        <section class="sobre-nosotras">



            <div class="text-container">

                <div class="tit-container">
                    <h2>SOBRE NOSOTRAS</h2>
                </div>

                <p>¡Hola! Somos Ana, Ailin y Paula, madre e hijas, y juntas queremos darle la bienvenida a nuestro
                    portal de
                    La Siesta Arte, nuestro emprendimiento de cerámica artesanal en Villa la Angostura, Patagonia
                    Argentina. 
                    <br><br>
                    Apostamos a vivir de nuestro arte en el año 2013, primero con toda la producción dividida entre
                    nuestras casas y vendiendo en negocios y ferias locales y regionales. <br> Nunca es fácil apostar
                    por la autogestión, fueron varios años de sostener el proyecto de vivir del trabajo artesanal,
                    implica aprender a poner en valor el tiempo, animarse a llevar la administración, generar vínculos
                    con proveedores y envíos, atreverse a probar, fallar, consultar, buscar a otras personas con quienes
                    compartir las dudas, y muchísimas emociones más, que hoy sin duda nos llenan de convicción y ánimo
                    para seguir. 
                    <br><br>
                    ¡Nuestras piezas son muy diversas! Disfrutamos mucho distintas técnicas y nos inspira profundamente
                    buscar diferentes lenguajes. 
                    <br>
                    Saber que, en cada región del mundo, un pueblo tiene una técnica para el mismo material nos conecta
                    profundamente con el proceso de crear piezas para nuestras cotidianidades que estén llenas de valor.
                    <br><br>
                    Aprendimos a fabricar nuestros propios moldes, y fuimos llegando a lenguajes propios, profundamente
                    inspirados en la naturaleza que nos rodea en este maravilloso e imponente territorio que nos
                    conmueve. Cada pieza es única y en ellas queremos plasmar el poder de la tierra, de las flores, de
                    los frutos, los colores, las estaciones, de todo el entramado de vida. Queremos que nuestros diseños
                    representen nuestro entorno. 
                    <br><br>
                    Gracias al trabajo y a mucho apoyo, en el año 2018 inauguramos nuestro propio espacio de taller y
                    sala de ventas, en Av. Arrayanes 1370, Villa la Angostura, y eso también consolidó mucho el
                    emprendimiento. El Taller es precioso, crearlo coherente con nuestro arte fue una hermosa
                    experiencia y nos sentimos inmensamente privilegiadas de estar hoy trabajando en nuestro espacio
                    propio, que es cómodo y cálido, amplio para compartir talleres, y también la facilidad de poder
                    estar creando al mismo tiempo que recibir clientes, que suele ser una gran dificultad para quienes
                    trabajamos autogestivamente.
                </p>

            </div>

        </section>

        <section class="cada-una">

            <article class="team">
                <h3>Ana</h3>
                <div class="img-container">
                    <img class="photo" width="320px" src="/img/ana.jpeg" alt="Ana">
                </div>
                
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, rem sed. Quia harum nesciunt
                    architecto exercitationem quibusdam dignissimos alias repudiandae.</p> -->
            </article>

            <article class="team">
                <h3>Ailin</h3>
                <div class="img-container">
                    <img class="photo" width="320px" src="/img/ailin.jpeg" alt="Ailin">
                </div>
                
               <!--  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, rem sed. Quia harum nesciunt
                    architecto exercitationem quibusdam dignissimos alias repudiandae. </p> -->
            </article>

            <article class="team">
                <h3>Paula</h3>
                <div class="img-container">
                    <img class="photo" width="320px" src="/img/paula.jpeg" alt="Paula">
                </div>
                
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, rem sed. Quia harum nesciunt
                    architecto exercitationem quibusdam dignissimos alias repudiandae.</p> -->
            </article>

        </section>

        <!-- ----------------Donde Encontrarnos-------------------- -->
        <section class="map-container">

            <div class="tit-container">
                <h2 class="titulo">DONDE ENCONTRARNOS</h2>
            </div>

            <div class="direccion">
                <h3>Avenida Arrayanes 1368 <br> 
                    Villa la Angostura <br> 
                    Patagonia Argentina</h3>
            </div>

            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.778828121687!2d-71.62974418407576!3d-40.76688901646008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9610bffc90e4d727%3A0xe9f9c7f74ebbc0f5!2sLa%20siesta%20Arte!5e0!3m2!1ses!2sar!4v1630461257375!5m2!1ses!2sar"
                    width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

        </section>


    </main>
    <!-- Fin main ------------------------------------------------------ -->




    <!-- Footer------------------------------- -->
<%- include('../partials/footer.ejs') %> 
    <!-- Fin del footer ------------------------------------->
</body>

</html>