<footer>
    <div class="footer">
        <nav class="Contact">
            <div class="nosotras">
                <ul>
                    <h3>NOSOTRAS</h3>
                    <li><a href="/">Home</a></li>
                    <li><a href="#categorias">Categorias</a></li>
                    <li><a href="#favoritos">Favoritos</a></li>
                    <li><a href="/contacto">¡Personaliza tu pedido!</a></li>
                   <!--  <li><a href="/contacto">Preguntas Frecuentes</a></li> -->
                </ul>
            </div>

            <div class="menu-tablet">
                <ul class="contactanos">
                    <h3>CONTACTANOS</h3>
                    <li><a href="https://wa.me/5492944705704" target="__blank">+54 9 294 4705704</a></li>
                    <li><a href="mailto:lasiestaarteceramica@gmail.com">lasiestaarteceramica@gmail.com</a></li>
                </ul>

                <ul class="redesResponsive">
                    <li><a href="https://www.facebook.com/lasiestaartevla/" target="__blank"><i
                                class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/lasiesta.arte/" target="__blank"><i
                                class="fab fa-instagram"></i></a></li>
                    <li><a href="https://wa.me/5492944705704" target="__blank"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </div>

            <div class="LogoRedes">
                <div class="logoContainer">
                    <a class="linkLogo" href="/"><img class="logoInf" src="/img/Logo_claro.png" alt="Logo"></a>
                </div>
            </div>

        </nav>


        <!--             <nav class="redes">
                <ul>
                    <li><a href="https://www.facebook.com/lasiestaartevla/" target="__blank"><i
                                class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/lasiesta.arte/" target="__blank"><i
                                class="fab fa-instagram"></i></a></li>
                    <li><a href="https://wa.me/5492944705704" target="__blank"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </nav> -->


    </div>

    <div class="copyright">
        <p>Copyright 2021 - La Siesta arte</p>
    </div>


    <div id="go-top">
        <i class="fas fa-angle-double-up"></i>
    </div>

</footer>
<script src="/js/goTop.js"></script>