<html lang="es">
    <%- include("../partials/head.ejs")  %> 
    <title>Acceso no autorizado</title>
<body>
    <%- include("../partials/header.ejs") %> 

   

 <main class="login">

    
        <i class="fas fa-exclamation-triangle"></i>
    
        
    <h2>Esta página es solo para usuarios sin registrar</h2>
    
 </main>
 <%- include("../partials/footer.ejs") %> 
</body>
</html>